<!--  
    """

        Created on Wednesday, June 15 2022  15:24:54 

        @author: Dieuveille BOUSSA ELLENGA
        
    """
-->

<!DOCTYPE html>

{% load static %}

{% load crispy_forms_tags %}

<html lang="fr" class="h-100">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="author" content="Dieuveille BOUSSA ELLENGA">
        <meta name="keywords" content="El Benie Consulting, Saisissons votre carriere ensemble, Site Professionnel de suivi personnalise dans vos processus RH et Recrutement, by Gracie BOUSSA ELLENGA, El Benie, Consulting, Coaching, Personal Coaching, Personal blog, Coaching website, carrière, recrutement, Gracie BOUSSA ELLENGA, Gracie BOUSSA, Gracie ELLENGA, BOUSSA ELLENGA, GRACIE BOUSSA ELLENGA, App by Dieuveille BOUSSA ELLENGA">
        <meta content="El Benie Consulting, Saisissons votre carrière ensemble, Site Professionnel de suivi personnalisé dans vos processus RH et Recrutement avec Gracie BOUSSA ELLENGA, Application Dévéloppé par Dieuveille BOUSSA ELLENGA" name="description"/>
        <title>Page Introuvable    |   El Benie </title>


        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'maintenance/el_benie_favicon_io/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'maintenance/el_benie_favicon_io/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'maintenance/el_benie_favicon_io/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'maintenance/el_benie_favicon_io/site.webmanifest' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'maintenance/el_benie_favicon_io/favicon.ico' %}" />

        
		<link rel="stylesheet" href="{% static 'maintenance/css/style.css' %}" type="text/css" media="all" />


        <script src="{% static 'fonts/fontawesome5_15_4/js/all.js' %}" type="text/javascript"></script>
        {% comment %} <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script> {% endcomment %}

	</head>

	<body>
		<div class="container">
			<header>
                <!-- 
                    <img class="logo" src="{% static 'maintenance/el_benie_logo/vector/default-monochrome-black.svg' %}" alt="El Benie Logo" />
                    <img class="logo" src="{% static 'maintenance/el_benie_logo/vector/default-monochrome-black.svg' %}" alt="El Benie Logo" />
                    <img class="logo" src="{% static 'maintenance/el_benie_logo/vector/default-monochrome-black.svg' %}" alt="El Benie Logo" />
                -->
                
                <img class="logo" src="{% static 'maintenance/el_benie_logo/vector/default-monochrome.svg' %}" alt="El Benie Logo" />

			</header>

			<section class="hero">
				<img src="{% static 'maintenance/images/hero-mobile.jpg' %}" alt="El Benie Image Gracie BOUSSA ELLENGA" />
			</section>

			<main>
				<div class="wrapper">

					<h1 class="heading">
						<span>OOPS !!</span> 
                        <br/>
                        <br>
                        On dirait que tu t'es perdu.e
					</h1>

                    <br>

					<p class="lead">
						Tu peux revenir à la page d'accueil juste <a href="#" title="page d'accueil"> ici </a> 
					</p>

				</div>
			</main>

             
            <!--**********************************
                Footer start
            ***********************************-->

            <center class="myFooter">
                <div class="copyright">
                    <p>
                        <strong class="company_name">El Benie Consultnig</strong> 
                        © <script>document.write(new Date().getFullYear())</script> All Rights Reserved
                    </p>
                    <br>
                    <p>Designed & Developed by 
                        <strong class="company_name"><a href="https://www.linkedin.com/in/dieuveille-boussa-ellenga-30b5231a7/" target="_blank" title="Dieuveille BOUSSA ELLENGA Linkedin Développeur FullStack"> Dieuveille BOUSSA ELLENGA </a></strong>
                        </p>
                    <br>

                    <div class="rounded-social-buttons">
                        <a class="social-button facebook" href="https://www.facebook.com/" target="_blank" title="El Benie Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="social-button twitter" href="https://www.twitter.com/" target="_blank" title="El Benie Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank" title="El Benie Linkedin"><i class="fab fa-linkedin"></i></a>
                        <a class="social-button youtube" href="https://www.youtube.com/" target="_blank" title="El Benie Youtube"><i class="fab fa-youtube"></i></a>
                        <a class="social-button instagram" href="https://www.instagram.com/" target="_blank" title="El Benie Instagram"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </center>

            <!--**********************************
            Footer end
            ***********************************-->

		</div>        


		<script src="{% static 'maintenance/js/script.js' %}" type="text/javascript"></script>


	</body>

  </html>